setuptools
numpy==1.26.4
Flask~=3.0.2
itsdangerous~=2.1.2
WTForms~=3.0.1
scikit-learn==1.5.2
Flask-Cors
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Bcrypt
Flask-Mail
flask-socketio
eventlet
email-validator
python-dotenv
requests
flask-dance